form {
	float: left;
}

#songname {
	float: left;
}
#SongwriterEmail{
	float:left;
}
#aca{
	float:left;
}
#willWin{
	float:left;
}
#diva{
	float:left;
}
#comments{
	float:left;
}
#artists{

}
#buttons{
	float:left;
}
